<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some error occured at the server side</h1>
    <p>Try again later and sorry for the inconvenience.</p>

<%- include('includes/end.ejs') %>